* {
    box-sizing: border-box; /* 앞으로 모든 css에 이 3줄을 작성할 것 */
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2f5;

    padding-top: 50px;
}


.card-container {
    width: 320px;
    background-color: white;
    text-align: center;

    margin: 0 auto; /* 위, 아래 margin 0, 좌우는 오토(부모의 크기 내에서 최대로 가질 수 있도록. > 가운데 정렬) */
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    overflow: hidden; /* 카드의 내용물이 카드 영역을 벗어나면 보이지 않도록 함. */
    padding-bottom: 30px; /* 내용이 카드의 가장 아래에 붙으면 보기 좋지 않기 때문에 padding-bottom을 흔히 사용. */
}


.profile-box {
    background-color: #4a90e2;
    padding: 40px 0;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* 원형 */
    border: 4px solid white;
}


.info-box {
    padding: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #333;

    margin-bottom: 8px; /* 아래와 간격을 띄우기 위함 */
}

.job {
    font-size: 14px;
    font-weight: bold;
    color: #4a90e2;

    margin-bottom: 16px;
}

.bio {
    font-size: 14px;
    color: #666;

    margin-bottom: 20px;

    line-height: 1.6; /* 적용된 font size의 1.6배 줄 간격 벌리기 */
}


.skills-box {
    margin-bottom: 25px;
}

.tag {
    display: inline-block;  /* 고정형 */

    background-color: #e9ecef;
    color: #495057;
    font-size: 12px;

    padding: 6px 12px;
    border-radius: 20px;
    margin: 0 4px;
}


.btn-contact {
    display: inline-block;

    text-decoration: none; /* 링크의 밑줄 제거 */

    background-color: #333;
    color: white;

    padding: 12px 30px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: bold;

    /* 애니메이션의 슬로우 효과 */
    /* 즉시 변화하지 않고 주어진 시간동안 서서히 변화하도록 설정 */
    /* 1. 본래의 속성을 작성한다. 2. 변화되는 속성을 작성한다. 3. transition으로 설정한다. */
    transition: background-color 0.5s;
    /* transition: all 0.5s; 라고 작성해도 됨. (변하는 모든 속성들이 전부 0.5초라는 시간을 가짐) */
}

/* 반응형 의사(수도)클래스 */
.btn-contact:hover {
    background-color: #111;

}