* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;

    margin: 0;
}

section {
    height: 100vh;
}

img {
    height: auto;
    width: auto;
    background-size: cover;
}



/* 헤더 페이지(상단 메뉴바) */

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 10px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    gap: 20px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-logo i {
    font-size: 24px;
    font-weight: 700;

    justify-content: center;
    align-items: center;

    color: #228000;
}


.navbar-logo a {
    font-size: 32px;
    font-weight: 700;
    color: #228000;
}


.navbar-menu {
    display: flex;
    gap: 100px;
}


.navbar-menu a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #555;
    padding: 8px 12px;

    transition: color 0.5s;
}

.navbar-menu a:hover {
    color: #228000;
}

.menu-login {
    /* 모바일로만 보이는 '로그인' 메뉴 */
    display: none;
    text-align: right;
}



.btn-login {
    /* PC에서만 보이는 '로그인' 버튼 */
    color: #333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;

    border: 1px solid #333;
    transition: color 0.5s;
    transition: border-color 0.5s;
}

.btn-login:hover {
    color: #228000;
    border-color: #228000;
}


.navbar-toggleBtn {
    display: none;
    font-size: 24px;
    font-weight: bold;
    color: #228000;
    cursor: pointer;
    padding: 5px;
}



/* 1번째 페이지 시작 */

.home-Bigimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.home-Bigimg img {
    width: 100vw;
    /* 뷰포트 가로폭 100% */
    height: 70vh;
    /* 뷰포트 높이 (조절 가능) */
    object-fit: cover;
    /* 비율 유지하며 꽉 채움 */
    object-position: center;
    /* 중앙 기준 */

    padding-top: 30px;
}

.Bigimg-icon .icon {
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
    padding: 25px;

    transition: color 0.3s;
}

.Bigimg-icon .icon.active {
    color: #333;
}

.menu-Icon {
    padding-top: 30px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.menu-Icon span {
    /* 나중에 a href로 바꾸면 span을 a로 바꿀 것 */
    width: 200px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    font-size: 20px;
    font-weight: 500;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.menu-Icon .menuIcon1,
.menu-Icon .menuIcon3,
.menu-Icon .menuIcon5 {
    background-color: #228200;
}

.menu-Icon .menuIcon2,
.menu-Icon .menuIcon4 {
    background-color: #8BBA7A;
}




/* 2번째 페이지 시작 */

.explaining-home {
    display: flex;
    gap: 50px;

    justify-content: center;
    align-items: center;

    padding: 100px 20px;
}


.explainIMG img {
    height: 300px;
    width: 450px;
}

.explainGMP {
    max-width: 50%;
    padding-bottom: 50px;
}

.explainGMP .ex-lightgreen {
    color: #8BBA7A;
}

.explainGMP h2 {
    color: #333;
    font-size: 36px;
}

.explainGMP h2 strong {
    color: #228000;
}

.explainGMP .ex-lightblack {
    padding-top: 10px;
    color: #444444;
}



/* 3번째 페이지 시작 */

.home-edu {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    padding: 150px;
    max-width: 80vw;
}


.edu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.represent-edu {
    padding: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #228000;
}

.edu-icons {
    display: none;
    color: #333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;

    border: 1px solid #333;
    transition: color 0.5s;
    transition: border-color 0.5s;
}

.edu-icons:hover {
    color: #228000;
    border-color: #228000;
}


.educations {
    display: flex;

    justify-content: center;
    align-items: center;

    flex: 0 1 0;

    gap: 50px;
    padding-top: 20px;
}

.edu1,
.edu2,
.edu3 {
    display: flex;
    flex-direction: column;
}

.edu1 .h3,
.edu2 .h3,
.edu3 .h3 {
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
}

.edu1 .p,
.edu2 .p,
.edu3 .p {
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.edu1 img,
.edu2 img,
.edu3 img {
    height: 300px;
    width: 350px;
}



/* 4번째 페이지 시작 */

.home-notice {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    padding: 150px;
    max-width: 80vw;
}


.notice-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5%;
}

.represent-notice {
    padding: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #228000;
}

.notice-icons {
    color: #333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;

    border: 1px solid #333;
    transition: color 0.5s;
    transition: border-color 0.5s;
}

.notice-icons:hover {
    color: #228000;
    border-color: #228000;
}


.notice-inside {
    display: flex;
    flex-direction: column;

    padding: 50px 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.insides {
    border-left: 5px solid #228000;
    padding-left: 30px;

    gap: 20px;
}

.notice-inside p {
    justify-content: center;
    align-items: left;
    font-size: 16px;
}




/* 푸터(하단) 페이지 시작 */

.footer {
    background-color: #202020;
    box-shadow: 0 -5px 3px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: left;

    padding: 35px;

    flex-grow: 1;
}

.footer-logo {
    padding-bottom: 50px;
}

.footer-msg {
    color: #888;
    font-size: 14px;
}

.footer-downmsg {
    color: #888;
    font-size: 12px;
}







/* [반응형 - 모바일 (768px 이하)] */
@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        gap: 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
    }

    .navbar-menu a {
        padding: 16px 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .dropdown-content {
        display: block;
        position: static;
        box-shadow: none;
        background-color: #f9f9f9;
        width: 100%;
        transform: none;
        padding: 0;
    }

    .dropdown-content li a {
        padding-left: 40px;
        font-size: 14px;
        color: #777;
    }

    .navbar-toggleBtn {
        display: block;
        position: absolute;
        right: 24px;
        top: 18px;
    }


    /* 모바일에서는 로그인 메뉴만 보이게 버튼을 없앰 */
    .btn-login {
        display: none;
    }

    /* 메뉴가 나오는 bar를 눌러서 메뉴를 활성화시키면 로그인 메뉴가 생김 */
    .navbar-menu.active .menu-login {
        display: block;
    }


    /* 1번째 페이지 메뉴 박스, 보기 좋게 글자를 줄임 */
    .menu-Icon span {
        font-size: 16px;
    }


    /* 2번째 페이지, GMP 설명만 들어오도록 사진 제거 */
    .explainIMG {
        display: none;
    }


    /* 3번째 페이지, 대표 교육과정 1개만 보이도록 */
    .educations .edu1,
    .educations .edu3 {
        display: none;
    }

    /* 3번째 페이지, 교육 더보기 버튼 활성화 */
    .edu-icons {
        display: block;
    }
}