* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}



/* 헤더 페이지(상단 메뉴바) */

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 10px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    gap: 20px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-logo i {
    font-size: 24px;
    font-weight: 700;

    justify-content: center;
    align-items: center;

    color: #228000;
}


.navbar-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #228000;
}


.navbar-menu {
    display: flex;
    gap: 30px;
}


.navbar-menu a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #555;
    padding: 8px 12px;

    transition: color 0.5s;
}

.navbar-menu a:hover {
    color: #228000;
}



.btn-login {
    color: #333;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;

    border: 1px solid #333;
    transition: color 0.5s;
    transition: border-color 0.5s;
}

.btn-login:hover {
    color: #228000;
    border-color: #228000;
}


.navbar-toggleBtn {
    display: none;
    font-size: 24px;
    font-weight: bold;
    color: #228000;
    cursor: pointer;
    padding: 5px;
}



/* 1번째 페이지 시작 */

.home-Bigimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.home-Bigimg img {
    width: 100vw;
    /* 뷰포트 가로폭 100% */
    height: 60vh;
    /* 뷰포트 높이 (조절 가능) */
    object-fit: cover;
    /* 비율 유지하며 꽉 채움 */
    object-position: center;
    /* 중앙 기준 */

    padding-top: 30px;
}

.Bigimg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 25px;
    font-weight: 900;

    color: #888;
}

.Bigimg-icon .icon1,
.Bigimg-icon .icon2,
.Bigimg-icon .icon3 {
    transition: color 0.5s;
}

.Bigimg-icon .icon1:hover,
.Bigimg-icon .icon2:hover,
.Bigimg-icon .icon3:hover {
    color: #333;
}


.menu-Icon {
    padding-top: 30px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.menu-Icon span {
    /* 나중에 a href로 바꾸면 span을 a로 바꿀 것 */
    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    font-size: 12px;
    font-weight: 500;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.menu-Icon .menuIcon1,
.menu-Icon .menuIcon3,
.menu-Icon .menuIcon5 {
    background-color: #228200;
}

.menu-Icon .menuIcon2,
.menu-Icon .menuIcon4 {
    background-color: #8BBA7A;
}




/* 2번째 페이지 시작 */

.explaining-home {
    display: flex;
    gap: 50px;

    justify-content: center;
    align-items: center;

    min-height: 60vh;
    padding: 100px 20px;
}


/* .explainIMG {} */

.explainGMP {
    max-width: 50%;
    padding-bottom: 50px;
}

.explainGMP .ex-lightgreen {
    color: #8BBA7A;
}

.explainGMP h2 {
    color: #333;
    font-size: 30px;
}

.explainGMP h2 strong {
    color: #228000;
}

.explainGMP .ex-lightblack {
    padding-top: 10px;
    color: #444444;
}



/* 3번째 페이지 시작 */







/* 푸터(하단) 페이지 시작 */

.footer {
    /* background-color: #202020; */
    /* 나중에 푸터가 위치를 잡으면 설정 */

    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: left;

    padding: 35px;

    flex-grow: 1;
}

.footer-logo {
    padding-bottom: 50px;
}

.footer-msg {
    color: #888;
    font-size: 14px;
}

.footer-downmsg {
    color: #888;
    font-size: 12px;
}








/* [반응형 - 모바일 (768px 이하)] */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        gap: 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
    }

    .navbar-menu a {
        padding: 16px 20px;
        border-bottom: 1px solid #f1f1f1;
    }

    .dropdown-content {
        display: block;
        position: static;
        box-shadow: none;
        background-color: #f9f9f9;
        width: 100%;
        transform: none;
        padding: 0;
    }

    .dropdown-content li a {
        padding-left: 40px;
        font-size: 14px;
        color: #777;
    }

    .navbar-toggleBtn {
        display: block;
        position: absolute;
        right: 24px;
        top: 18px;
    }

    .btn-login {
        display: none;
    }
}